.catalog {
   padding-bottom: 79px;
   .nav {
      &-pills {
         justify-content: center;
         padding-top: 46px;
      }
      &-link {
         font-size: 18px;
         text-transform: uppercase;
         color: #6b6b6b;
         width: 220px;
         height: 52px;
         text-align: center;
         text-decoration: none;
         border-radius: 0;
         transform: skewX(-25deg);
         padding: 11px 30px;
         border: 2px solid #d0d0d0;
         margin: 0 5px;
         span {
            display: block;
            transform: skewX(25deg);
         }
         &.active {
            color: #fff;
            background: $main-color;
            border-color: $main-color;
         }
      }
   }
   .product {
      padding: 7px 10px;
      border: 2px solid #e8e8e8;
      margin: 0 auto;
      margin-top: 57px;
      text-align: center;
      img {
         display: block;
         margin: 0 auto;
      }
      &__name {
         font-weight: bold;
         font-size: 16px;
         text-align: center;
         color: #0d0d0d;
         padding-top: 12px;
         margin-bottom: 17px;
      }
      &__text {
         font-size: 14px;
         text-align: center;
         color: #0d0d0d;
         margin-bottom: 7px;
      }
      &__link {
         display: block;
         margin: 0 auto;
         color: $main-color;
         padding-bottom: 17px;
         text-transform: uppercase;
         &:hover {
            color: $main-color;
            text-decoration: none;
         }
      }
      &__divider {
         display: block;
         padding-top: 17px;
         border-top: 1px solid #e8e8e8;
      }
      &__pricelist {
         display: flex;
      }
      &__price {
         display: flex;
         justify-content: space-between;
         font-size: 14px;
         text-decoration: line-through;
         color: #555555;
      }
      &__discount {
         display: flex;
         justify-content: space-between;
         font-weight: bold;
         font-size: 18px;
         color: #030303;
      }
      &__wrapper {
         position: relative;
      }
      &__content {
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         background: #fff;
         font-size: 14px;
         color: #555555;
         padding: 15px;
         display: none;
         &_active {
            display: block;
         }
         ul {
            padding: 0;
            text-align: left;
            list-style-type: none;
            li {
               position: relative;
               padding-left: 17px;
               &:before {
                  content: "";
                  position: absolute;
                  display: block;
                  width: 8px;
                  height: 8px;
                  left: 0;
                  top: 6px;
                  background: $main-color;
               }
            }
         }
         .product__link {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            padding: 0;
            bottom: 20px;
         }
      }
   }
}
