.form {
   &-group {
      margin-bottom: 13px;
   }
   &-control {
      height: 50px;
      background: #ffffff;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 14px;
   }
   .button {
      margin-top: 4px;
      &_main {
         width: 100%;
      }
   }
}
