.header {
   // padding: 20px 0;
   &__oficial {
      text-align: center;
      color: #fff;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      strong {
         display: block;
         font-size: 18px;
         line-height: 29px;
      }
   }
   &__contacts {
      text-align: right;
   }
   &__phone {
      color: #ffffff;
      font-weight: 700;
      font-size: 18px;
      text-decoration: none;
      &:hover {
         color:#fff;
         text-decoration: none;
      }
   }
}
